<% provide(:title, @article.title) %>
<div class="articleshow">
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @article.title %></h1>
</p>
<%= image_tag(@article.artimg.url, :height => "150px", :width => "150px") %>
<div class="txt">
  <%= @article.text %>
</div>
<p>
<b>Categories:</b> 
<ul>
<% if !@article.categories.empty? %>
<% @article.categories.each do |catt| %>
	<li><%= link_to catt.name, category_path(catt) %> </li>
<% end %>
<% else %>
<li><%= link_to "None", index_path %></li>
<% end %>
</ul>

</p>
<div class="auth2">
	written by: <%= link_to @article.author, User.find_by_name(@article.author) %>
</div>


<% if session[:user]==@article.author || session[:admin] %>
		<%= link_to "Edit", edit_article_path(@article) %>
		| <%= link_to "Delete", @article, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<div class="clear"></div>
<hr>

<p>
  <h3>Comments</h3>
</p>

<% @comments.each do |c| %>
	<div class="comm_entry">
		<div class="comm_img">
		<%= link_to image_tag(User.find_by_name(c.username).avatar.url, :height => "70px", :width => "70px"),User.find_by_name(c.username) %>
		</div>
		<div class="comm_name">
		<%= link_to c.username, User.find_by_name(c.username) %>
		</div>
		<div class="comm_content">
		<b><%= c.content %></b>
		</div>
		<div class="comm_links">
		<%= time_ago_in_words(c.created_at)+' ago' %>
		<% if session[:admin] || session[:user]==c.username %>
		| <%= link_to 'Edit', edit_comment_path(c) %> |
		<%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		</div>
	</div>
	</br>
<% end %>
</br>
<div class="clear"></div>

<% if session[:user] %>
<hr>
<p>
  <h3>Add a comment</h3>
</p>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.text_area :content, :rows => 4 %>
  </div>
  <%= f.hidden_field :articleid, :value => @article.id %>
  <div class="actions">
    <%= f.submit "Add Comment", :class => "submit_button"%>
  </div>
<% end %>

<% end %>
</div>