<% provide(:title, @user.name) %>
<% if session[:user] %>
<div class="usershow">
<p id="notice"><%= notice %></p>

<p>
<%= image_tag(@user.avatar.url, :height => "150px") %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table>
<tr>
<td valign="top">
  <b>Commented articles: </b>
  </br>
    <% @commentedArticles.each do |entry| %>
		<h4>><%= link_to entry.title, entry %></h4>
	<% end %>
</td>
<td></td><td></td><td></td><td></td><td></td>
<td valign="top">
  <b>Written articles: </b>
  </br>
	<% @articleEntries.each do |entry| %>
		<h4>><%= link_to entry.title, entry %></h4>

	<% end %>
<td>
</tr>
</table>
<div class="links">
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', index_path %>
</div>
</div>
<% else %>
<h3> You are not logged in </h3>
<% end %>