<% provide(:title, @user.name) %>
<% if session[:user] %>

<p id="notice"><%= notice %></p>

<p>
<%= image_tag(@user.avatar.url, :height => "150px") %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Articles: </b>
  </br>
	<% @articleEntries.each do |entry| %>
		<h4>><%= link_to entry.title, entry %></h4>

	<% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', index_path %>

<% else %>
<h3> You are not logged in </h3>
<% end %>