
<% if session[:admin] %>
<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Articles: </b>
  </br>
	<% @articleEntries.each do |entry| %>
		<h4>><%= link_to entry.title, entry %></h4>

	<% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% else %>
<% provide(:title, 'Profile') %>
<h3> You are not authorized </h3>
<% end %>